<!-- src/views/index.ejs -->
<%- include('layout', { title: 'Home' , content:' '}) %>
    <section id="welcomePage">
        <h2>Welcome to EAT and ENJOY RESTAURANT</h2>
        <p>Browse through our collection of vegetables, non-vegetarian dishes, and mixed recipes.</p>
        <p>Thank your for choising up!!!!</p>
    </section>