<!-- src/views/layout.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= typeof title !=='undefined' ? title : 'EAT and ENJOY RESTAURANT' %>
    </title>
    <link rel="stylesheet" href="/css/sytle.css">
</head>

<body>
    <header>
        <h1>EAT AND ENJOY RESTAURANT!!</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/vege">Vegetables</a></li>
                <li><a href="/nonvege">Non-vegetables</a></li>
                <li><a href="/mixed">Mixed</a></li>
                <li><a href="/vege/add/vege">AddToMenu</a></li>
                <li><a href="/nonvege/add/nonvege">AddNonVege</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <%= typeof content !=='undefined' ? content : '' %>

    </main>
    <footer>
        <p>&copy; 2024 EAT AND ENJOY RESTAURANT!!</p>
    </footer>
</body>

</html>