<!-- src/views/vege/list.ejs -->
<%- include('../layout', { title: 'Vegetable List' , content: ` <h1>Vegetable List</h1>
    <ul>
        <% vege.forEach(function(veg) { %>
            <li><a href="/vege/<%= veg.id %>">
                    <%= veg.name %>
                </a></li>
            <% }); %>
    </ul>
    <a href="/vege/add">Add New Vegetable</a>
    ` }) %>